## USING OF PANDAS
> Introduction to pandas

> built in methods of pandas

> use of csv file along with pandas

In [1]:
# importing of pandas

import pandas as pd

# Loading of Data

> You can use methods like

    pd.read_csv('path') -> to read the csv files
    pd.read_excel('path'') -> to read the excel files

> Seperation of data can be done delimiter param

    pd.read_csv('path'',delimiter=",")

In [4]:
# reading csv
# fead_data = pd.read_csv('./sample_data/california_housing_test.csv',delimiter=",")

fead_data = pd.read_csv('./sample_data/california_housing_test.csv')

# Display the loaded Data

In [5]:
print(fead_data)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

# Printing specific data Using

    pd.head()
    or
    pd.tail()

In [6]:
# to get particular values from top
print(fead_data.head(3))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0

In [7]:
# to get particular values from bottom
print(fead_data.tail(3))

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

In [9]:
# to get colum headers
fead_data.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [13]:
# to get a specific column
# fead_data['longitude']
fead_data['longitude'][0:5]

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64

In [15]:
# to get mulitple columns
# fead_data[['longitude','latitude']]
fead_data[['longitude','latitude']][0:5]

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78
3    -118.36     33.82
4    -119.67     36.33

# Get Each Row in pandas

> you can use iloc method to get a specific row

    syntax : data.iloc[row]

    or

    syntax : data.iloc[start:end]

In [18]:
# to get Each Row
fead_data.iloc[1]

longitude               -118.300
latitude                  34.260
housing_median_age        43.000
total_rooms             1510.000
total_bedrooms           310.000
population               809.000
households               277.000
median_income              3.599
median_house_value    176500.000
Name: 1, dtype: float64

In [19]:
# to grab multiple rows
# to get Each Row
fead_data.iloc[1:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0